<h1 style="color:white">Index for all events</h1>
<br>
<% @events.each do |event| %>
<%= link_to event.title.capitalize, event_path(event), class: "btn btn-primary" %>
<% end %>

<!-- do a search from -->


<%= form_tag events_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find Events"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
