.home-title {
  font-weight: bold;
  background: -webkit-linear-gradient(325deg, rgba(105,51,176,1) 36%, rgba(66,200,176,1) 62%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 82px;
  text-align: left;
  margin: auto;
  padding-left: 20px;
  padding-top: 20px;
}

.home-subtitle {
  font-weight: 500;
  background: #4E5154;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
  text-align: left;
  padding-left: 20px;
  width: 50%;
  padding-bottom: 180px;
  padding-top: 20px;
}

.search-bar-container {
  position: absolute;
  left: 26%;
  bottom: 10%;
  opacity: 0.85;
}

.find-event-text {
  position: absolute;
  left: 26%;
  bottom: 14%;
}

.navbar-inject {
  position: absolute;
  top: 0%;
  left: 0%;
}

.call-to-action {
  margin-bottom: 150px;
}

.banner-image {
  border-radius: 15px;
  padding-top: 20px;
  padding-bottom: 50px;
}