.home-title {
  font-weight: bold;
  background: -webkit-linear-gradient(325deg, rgba(105,51,176,1) 36%, rgba(66,200,176,1) 62%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 102px;
  text-align: center;
  margin: auto;
  padding: 10px;
  padding-top: 40px;
}

.home-subtitle {
  background: white;
  opacity: 0.8;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 22px;
  text-align: center;
  margin: auto;
  width: 50%;
  padding-bottom: 120px;
}

.search-bar-container {
  position: absolute;
  left: 26%;
  bottom: 10%;
  opacity: 0.85;
}

.find-event-text {
  position: absolute;
  left: 26%;
  bottom: 14%;
}

.navbar-inject {
  position: absolute;
  top: 0%;
  left: 0%;
}

.call-to-action {
  margin-bottom: 150px;
}
