.navbar-lewagon {
  justify-content: space-between;
  background: #3C3C3C;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  text-align: right;

}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  justify-content: flex-end;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    position: absolute;
}

