.navbar-lewagon {
  justify-content: space-between;
  background: #3C3C3C;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  text-align: right;

}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  justify-content: flex-end;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
    position: absolute;
}

.fa-plus {
  font-size: 40px;
  color: #35D0BA;
}

.fa-plus:hover {
  color: white;
}
