.form-control {
  color: black;
}

.searchbar-keyword {
  box-shadow: 2px 2px 2px rgba(0,0,0,0.6);
}

.searchbar-range {
  box-shadow: 2px 2px 2px rgba(0,0,0,0.6);
}

.searchbar-category {
  box-shadow: 2px 2px 2px rgba(0,0,0,0.6);
}

.searchbar-submit-button {
  box-shadow: 2px 2px 2px rgba(0,0,0,0.6);
}