.btn-primary{
  font-family: 'Archivo', sans-serif !important;
  text-align: center !important;
  border-radius: 34px !important;
  display: inline-block !important;
  padding: 10px 22px !important;
  background: #6660B1 !important;
  color: white !important;
  border-color: #589BB1 !important;

}

 .btn-primary:hover {
  background: #589BB1 !important;
  color: white im !important;
  border-color: #6660B1 !important;

 }

.btn-danger {
  font-family: 'Archivo', sans-serif !important;
  text-align: center !important;
  border-radius: 34px !important;
  display: inline-block !important;
  padding: 10px 22px !important;
  background: transparent !important;
  color: white !important;
  border-color: #589BB1 !important;

}

.btn-danger:hover {
  background: #CB0688!important;
  color: white !important;
  border-color: #589BB1 !important;
}
