// <i class="fas fa-pizza-slice" style="color: #6660B1; font-size: 50px;"></i>

#6564B1
#6660B1
#6277B1
#5C92B1
#569EB1
#589BB1
#50B1B1

social:
<i class="fas fa-users"></i>

yoga:
<i class="fas fa-yin-yang"></i>

dancing:
<i class="fas fa-trophy"></i>

sport:
<i class="fas fa-table-tennis"></i>

party:
<i class="fas fa-compact-disc"></i>

drinking:
<i class="fas fa-cocktail"></i>

spiritual:
<i class="fas fa-dove"></i>

misc:
<i class="fas fa-icons"></i>

studying:
<i class="fas fa-pen-fancy"></i>

political:
<i class="fas fa-globe-americas"></i>

food:
<a>food</a><i class="fas fa-pizza-slice"></i>

board games:
<i class="fas fa-dice"></i>

culture:
<i class="fas fa-film"></i>

